@font-face {
    font-family: "Orbitron";
    src: url("orbitron/Orbitron-Regular.ttf");
}


@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Thin.ttf");
    font-weight: 100;
}